<div class="nested-fields">
    <hr class="mt-4 mb-4"/>
    <%= f.input :description %>
    <%= f.input :placing %>
    <%= link_to_remove_association "Remove award", f, class: 'btn btn-danger btn-lg' %>
    <hr class="mt-4 mb-4"/>
</div>
