<% content_for :title do %>
    Home
  <% end %>
  
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Raffle</th>
          <th>Number</th>
          <th>Probable raffle date</th>
          <th>Status</th>
        </tr>
      </thead>
  
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.raffle %></td>
            <td><%= ticket.number %></td>
            <td><%= ticket.raffle.probable_raffle_date.to_s(:short) %></td>
            <% if !ticket.award.nil? %>
                <td>Winner</td>
            <% else %>
                <td>It wasn't this time</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>